db.sqlite3
geckodriver.log
virtualenv
__pycache__
*.pyc
.idea
db.sqlite3
__pycache__
virtualenv
postgres_access
postgress_access.py
postgres_access.py
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
venv//static

